Q1

In [2]:
print(type(5))
print(type(5.0))
print(type(5>1))
print(type('5'))
print(type(5*2))
print(type('5'*2))
print(type('5'+'2'))
print(type(5/2))
print(type(5%2))
print(type({5,2,1}))
print(type(3.14159))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'set'>
<class 'float'>

Q2(a)

In [3]:
len('Supercalifragilisticexpialidocious')

34

Q2(b)

In [5]:
s= 'Supercalifragilisticexpialidocious'
if 'ice' in s:
    print('Found')
else:
    print('Not Found')

Found

Q2(c)

In [9]:
s='Supercalifragilisticexpialidocious'
s1='Honorificabilitudinitatibus'
s2='Bababadalgharaghtakamminarronnkonn'

len(s)
len(s1)
len(s2)

print(max(s,s1,s2))

Supercalifragilisticexpialidocious

Q2(d)

In [10]:
x=['Berlioz','Barodin','Brian','Bartok','Bellini','Buxtehude','Bernstein']
x.sort()
print(x)

['Barodin', 'Bartok', 'Bellini', 'Berlioz', 'Bernstein', 'Brian', 'Buxtehude']

Q3

In [23]:
p=int(input("Enter side 1 of triangle:"))
q=int(input("Enter side 2 of triangle:"))
r=int(input("Enter side 3 of triangle:"))
def t_area(p,q,r):
    x=(p+q+r)/2
    area=(x*(x-p)*(x-q)*(x-r))**0.5
    print(area)
t_area(p,q,r)

Enter side 1 of triangle:2
Enter side 2 of triangle:2
Enter side 3 of triangle:2
1.7320508075688772

Q4

In [26]:
lst = [25,47,42,56,32]
even=[]
odd=[]
for i in lst:
    if (i%2==0):
        even.append(i)
    else:
        odd.append(i)
print("Even list:",even)
print("Odd list:",odd)

Even list: [42, 56, 32]
Odd list: [25, 47]

Q5(a)

In [1]:
def inisde(x,y,x1,y1,x2,y2):
    if (x > x1 and x < x2 and
        y > y1 and y < y2) :
        return True 
    else :
        return False

Q5(b)

In [3]:
def inside():
    x=1
    y=1
    x1=float(input("enter x1:"))
    y1=float(input("enter y1:"))
    x2=float(input("enter x2:"))
    y2=float(input("enter y2:"))
    if(x>x1 and x<x2 and y>y1 and y<y2):
        print("point lies in the rectangle")
    else:
        print("point does not lies in the rectangle")
    
inside()

enter x1:0.3
enter y1:0.5
enter x2:1.1
enter y2:0.7
point does not lies in the rectangle

Q6

In [26]:
  v=['A','E','I','O','U','a','e','i','o','u']
def pig():
    x=input("Enter any word:")
    if x[0] in v:
        print((x+"way").lower())
    else:
        print((x[1:]+ x[0]+"ay").lower())
        
pig()

Enter any word:owl
owlway

Q7

In [16]:
def bldcount():
    file=open("bloodtype1.txt")
    x=file.read()
    y=x.replace('\n','').split(" ")
    a={}
    for i in y:
        a[i]=y.count(i)
    print(a)
bldcount()

{'AB': 13, 'B': 1, 'O': 15, 'A': 15, '': 1}

Q8

Q9(1)

In [1]:
print(9+'d')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Q9(2)

In [17]:
num=['one','two','three','four','five','six','seven','eight','nine','ten']
num[11]

IndexError: list index out of range

Q9(3)

In [18]:
import math
math.sqrt(-1.2)

ValueError: math domain error

Q9(4)

In [19]:
y=4
print("The value is:",x)

NameError: name 'x' is not defined

Q9(5)

In [20]:
file=open('georgian.txt')
print(file)

FileNotFoundError: [Errno 2] No such file or directory: 'georgian.txt'

Q10

In [23]:
def frequencies():
    x=input("enter string:")
    lst=list(x)
    print(lst)
    a={}
    for i in lst:
        a[i]=lst.count(i)
    print(a.values())
    
frequencies()

enter string:apple
['a', 'p', 'p', 'l', 'e']
dict_values([1, 2, 1, 1])